<div id="homePage">

    <div id="Text-box"></div>
    <div id="buttons">
        <section>
            <div class="example-button-row">
                <button mat-raised-button>font</button>
                <button mat-raised-button> <mat-icon>text_format</mat-icon></button>
                <button mat-raised-button> <mat-icon>format_size</mat-icon>
                </button>
                <button mat-raised-button> <mat-icon>image</mat-icon></button>
                <button mat-raised-button> <mat-icon>mood</mat-icon></button>
                <!-- <button mat-raised-button><mat-icon>done_all
                </mat-icon>
                </button> -->
            </div>
        </section>
    </div>

</div>
<button mat-raised-button>Writing a personalized greeting</button>
